.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.box
{
    height:40px;
    

}
.gird-container 
{
    display:grid;
}
.row1 .btn
{
    background-color: grey !important;
   
}
.sin, .ln, .cos, .log, .tan, .sqrt, .EXP, .exp, .divide, .times, .minus, .plus
{
    background-color: grey !important;
   
} 
.lghtgrey.box:hover
{
    background-color: lightgray;
}

.lghtgrey.box
{
    background-color: lightgray !important;
   
}
.row1, .row2, .row3, .row4, .row5 
{
    display:grid;
    grid-gap:50px;
    grid-template-columns:100px 100px 100px 100px 100px 100px;
    grid-template-rows:50px; 
}
.equal
{
    background-color: lightskyblue !important;
}
.input

{
    display: grid;
    height:100px;
    width:850px;
    grid-template-columns: 1fr;
}

.Intro-text
{
    margin-bottom:20px;
}

.entire-body
{
    display:grid;
    place-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
